@import url("/home/link/.config/waybar/waybar_colors/dark-colors.css");
/* @import url("/home/link/.config/waybar/waybar_colors/dark-colors.css"); */

* {
  color: @fg;
  background: transparent;
}

#window {
  background: @bg;
  opacity: 0.8;
  margin: auto;
  padding: 2px;
  border-radius: 10px;
  border: 1px solid @accent;
}

#input {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

#outer-box {
  padding: 10px;
}

#img {
  margin-right: 6px;
}

#entry {
  padding: 10px;
  border-radius: 10px;
}

#entry:selected {
  background-color: @accent;
}

#text {
  margin: 2px;
}